Flask==0.12.4
cffi==1.13.2
Click==7.0
cryptography==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pip==19.2.3
pycparser==2.19
pyOpenSSL==19.1.0
setuptools==41.2.0
six==1.14.0
Werkzeug==0.16.1
