{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Programming Buddies</h1>
    <p class="lead">Praesent rutrum tristique euismod. Nam varius nulla lacinia consectetur lobortis.</p>
    <p><a href="/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who are we?</h2>
        <p>Praesent rutrum tristique euismod. Nam varius nulla lacinia consectetur lobortis.</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contribute</h2>
        <p>TPraesent rutrum tristique euismod. Nam varius nulla lacinia consectetur lobortis.</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join</h2>
        <p>Praesent rutrum tristique euismod. Nam varius nulla lacinia consectetur lobortis.</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
