{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Programming Buddies</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend dui ut neque elementum</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend dui ut neque elementum, </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend dui ut neque elementum</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend dui ut neque elementum</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
