cffi==1.14.0
Click==7.0
cryptography==2.8
Flask==1.1.1
Flask-MySQL==1.5.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pip==20.0.2
pycparser==2.19
PyMySQL==0.9.3
pyOpenSSL==19.1.0
setuptools==45.2.0
six==1.14.0
Werkzeug==1.0.0
